body{
    background-color: #FFDBB5;
    font-family: Montserrat;
		overflow: hidden;
}

#wrapper-login main {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}



#wrapper #aside-login {
	background-color: #6C4E31;
	display: flex;
	align-items: center; /* Centre l'image et le texte verticalement */
	justify-content: flex-start; /* Aligne le contenu sur la gauche */
	gap: 20px; /* Espacement entre l'image et le texte */
	text-align: left; /* Le texte reste aligné à gauche */

}

#aside-login h1{
	font-size: 7em;
}

#aside-login p{
	font-size: 2em;
}

#aside-login h1, #aside-login p {
	color: #FFDBB5;
	margin : 0;
	padding: 0;
}

#wrapper #article-login {
	background-color: #6C4E31;
	flex: 2;
}

a{text-decoration: none; color:black;}
a:hover{text-decoration: underline;}

body>header{
	background-color: #fff;
	display:flex;
	width:80em;
	margin:0 auto 2em auto;
	padding:0;

}
body>header img{
    height:5em;
}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid #99b;
	}
	body>header #menu a{
		flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 1px solid #99b;
	}
	body>header a:hover
	{
		background-color: #99b;
}
body>header ul{list-style: none;}
body>header #user
{
	margin-left: auto;
	flex:0.2;
	border-left: 1px solid #99b;
}
body>header #user>a{
	display:block;
	text-align: center;
	padding:2em 0;
	width:100%;
}
body>header #user ul{
	display: none;
	position: absolute;
	padding:0;
	margin:0;
	margin-left:-5em;
	background-color: #fff;
	border: 1px solid #99b;

	z-index: 1;
}
body>header #user ul li a{
	display:block;
	width:10em;
	padding:1em;
	border-bottom: 1px solid #99b;
}
body>header #user:hover ul{
	display:block;
}


#wrapper{
	display:flex;
	width:80em;
	margin:0 auto 2em auto;
}

.wrapper-login {
	flex-direction: column;
}

#wrapper aside{
	background-color: #fff;
	flex:1;
	padding:1em;
	border-radius: 1em;
}
/* Cette règle s'applique à toutes les images dans #wrapper aside */
#wrapper aside img {
	display: block;
	width: 50%;
	margin: 0 auto; /* Centre l'image horizontalement */
	height: auto;
}

/* Cette règle s'applique uniquement à l'image avec l'ID #login-img */
#wrapper aside img#login-img {
	background-color: #6C4E31;
	width: 40%;
	height: auto;
	margin: 0;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    /* overflow-y:  scroll; */
}
#wrapper main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}


